body {
    background-color: aliceblue;
    font-size: 1.5em;
    color: black;
    /*text-shadow: 2px 1px #101;*/
    font-family: 'Paytone One', sans-serif;
}

button {
    margin-bottom: 20px;
}
table {
    text-align: center;
}

.rightFloat {
    float: right;
}

.leftFloat:nth-child(2n+1) {
    /*float: left;*/
    clear: both;
}

tr:hover {
    background-color: skyblue;

}

input {
    display: hidden;
}
