body {
    background-color: ghostwhite;
    font-size: 1.5em;
    color: black;
    font-family: 'Paytone One', sans-serif;
}
footer {
    font-size: 12px;
}

button {
    margin-bottom: 20px;
}
table {
    text-align: center;
}

.rightFloat {
    float: right;
}

.leftFloat {
    float: left;
}

tr:hover {
    background-color: skyblue;

}