.background {
    background-image: url(/img/cubes.png);
}

.filter {
    background-color: rgba(13, 237, 255, .3);
}

.first_section {

    padding-bottom: 30px;

}

.second_section {
    background-color: #FCA311;
}
