.background {
    background-image: url(/img/cubes.png);
    background-position: fixed;
}

.first_section {
    background-color: #57b8ff;
    padding-bottom: 30px;

}

.second_section {
    background-color: #FCA311;
}

.margin-top {
    margin-top: 40px;
}

.navbar {
    height: 60px;
    margin-bottom: 0px;
}